<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.cinemaquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cinema_quiz"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cinema_quiz"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Activity02" >
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Activity03" >
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Activity04" >
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Activity05" >
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Activity06" >
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Activity07" >
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Activity08" >
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Activity09" >
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Activity10" >
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".LastActivity" >
        </activity>

    </application>

</manifest>